@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Press+Start+2P");

.Paintr {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#game {
  border: 2px solid #000;
  border-right-width: 1px;
  border-bottom-width: 1px;
  box-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
}
.gameSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.sideBar:hover {
  overflow: auto;
}
.canvas {
  align-self: center;
  margin: 0 auto;
}
.headerContainer {
  background: "#000";
  width: 100vw;
  color: "#fff";
  display: flex;
  justify-content: center;
  background-color: aqua;
}
.header {
  height: 70px;
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
