.formBackground {
  height: 100vh;
  width: 100vw;
  font-family: "Press Start 2P", cursive;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.formContainer {
  margin-top: 3rem;
}

.nameInput {
  padding: 2rem;
  border-radius: 20px;
  font-size: 36px;
  width: 35vw;
  text-align: center;
}

.nameSubmit {
  height: 150px;
  width: 25vw;
  font-size: 40px;
  display: block;
  font-family: monospace;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.mobileTitle {
  font-family: "Bungee Inline", cursive;
  font-size: 150px;
  letter-spacing: 7px;
  margin-bottom: 10rem;
}
