.players-container {
  width: 100%;
}
.players-container ul {
  display: flex;
  justify-content: center;
}
.players-container li {
  max-width: 33vw;
  flex: 1 0;
}
.noPlayers {
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 1rem;
}
.playerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 2px solid black;
  font-family: 'Press Start 2P', cursive;
}
.playerPercent {
  font-size: 46px;
}
.boost {
  background: white;
  color: red;
}
.frozen {
  background: white;
  color: blue;
}
